@charset "UTF-8";

.disc-box{
	padding: rem(30) rem(25) rem(25) rem(25);
	margin-bottom: rem(15);
	background-color: $color-wht;
	.img{
		@include wh(700, 386);
		>img{
			width: 100%;
			height: 100%;
		}
	}
	h2{
		padding: rem(20) 0 rem(10) 0;
	}
	.des{
		line-height: rem(40);
		color: #8e8e8e;
	}
}

